@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Hellix";
	src: local("Hellix SemiBold"), local("Hellix-SemiBold"),
		url("/assets/fonts/Hellix-SemiBold.woff2") format("woff2"),
		url("/assets/fonts/Hellix-SemiBold.woff") format("woff"),
		url("/assets/fonts/Hellix-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

:root {
	font-family: Poppins, Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 22.4px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
